<div class="container">
	<div class="row mt-5">
		
		<div class="mt-4 p-5 text-dark rounded text-center donatetron">
  		<h1>Buy me a cup of coffee!</h1>
  			<center> <p><%= image_tag "coffeeicon2.png", width: "100rem"  %></p> </center>
  			<div class="d-grid gap-2 col-6 mx-auto">
  			<a href="https://donate.stripe.com/cN20146P07ajaaIeUU" class="btn btn-warning" type="button" style=""> Donate </a>
  			</div>
			</div>			
			
	</div>
</div>