<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="container">
	<div class="row mt-5">
		<h3 class="text-center"> Analytics </h3>
		<h6 class="text-center"> Shows total views and link clicks per day. Refresh the page if the chart does not intially load. </h6>
		<%= render partial: "analytics/page_views" %>
		<%= @device_views %>
	</div>
</div>